apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -prod

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: hytale-server
